* {
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    margin: 0;
    background: radial-gradient(circle at top, #111, #000);
    color: #0ff;
    height: 100vh;
}

.screen {
    display: none;
    height: 100vh;
    padding: 30px;
    text-align: center;
}

.screen.active {
    display: block;
}

h1 {
    font-size: 48px;
    text-shadow: 0 0 20px #0ff;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 60px;
}

button {
    padding: 25px;
    font-size: 20px;
    background: #000;
    border: 2px solid #0ff;
    color: #0ff;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 0 15px #0ff;
    transition: 0.2s;
}

button:hover {
    background: #0ff;
    color: #000;
}

.exit {
    position: absolute;
    top: 20px;
    left: 20px;
}

.info {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    font-size: 20px;
}

#question {
    font-size: 36px;
    margin-top: 60px;
}

input {
    margin-top: 30px;
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 200px;
    text-align: center;
}


