html, body {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle at top, #0ff2, #000 70%);
  overflow: hidden;
  color: #0ff;
}

/* ORTAK */
#menu, #game {
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#menu { display: flex; }

/* BAŞLIK */
h1 {
  font-size: 60px;
  margin-bottom: 60px;
  text-shadow: 0 0 30px #0ff;
}

/* KUTULAR */
.cards {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 40px;
}

.card {
  width: 140px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  border: 3px solid #0ff;
  border-radius: 20px;
  box-shadow: 0 0 25px #0ff;
  cursor: pointer;
  transition: 0.2s;
}

.card:hover {
  background: #0ff;
  color: #000;
}

/* OYUN */
#top {
  position: absolute;
  top: 20px;
  display: flex;
  gap: 30px;
  font-size: 22px;
}

#exit {
  position: absolute;
  top: 20px;
  left: 20px;
  background: none;
  border: 2px solid #0ff;
  color: #0ff;
  padding: 8px 14px;
  border-radius: 10px;
  cursor: pointer;
}

#q {
  font-size: 50px;
  margin-bottom: 30px;
  text-shadow: 0 0 20px #0ff;
}

#inp {
  padding: 15px;
  font-size: 22px;
  width: 200px;
  border-radius: 12px;
  border: none;
  outline: none;
  text-align: center;
}

#send {
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 14px;
  border: 2px solid #0ff;
  background: transparent;
  color: #0ff;
  box-shadow: 0 0 20px #0ff;
}

#send:active {
  background: #0ff;
  color: #000;
}

/* MOBİL AYAR */
@media (max-width: 600px) {
  h1 {
    font-size: 40px;
  }

  .cards {
    grid-template-columns: repeat(2, 120px);
    gap: 25px;
  }

  .card {
    width: 120px;
    height: 120px;
    font-size: 40px;
  }

  #q {
    font-size: 36px;
  }

  #inp {
    width: 180px;
    font-size: 20px;
  }
}



