body {
  background-color: black;
  color: white;
  font-family: Arial;
  text-align: center;
}

h1 {
  color: red;
  margin-top: 50px;
}

button {
  background-color: red;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
}


