body {
  margin: 0;
  padding: 0;
  background-color: #d3d3d3; /* gri */
  font-family: Arial, sans-serif;
}

.kutu {
  width: 300px;
  background-color: white;
  margin: 100px auto;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

h1 {
  color: black;
}

button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

