body {
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  text-align: center;
}

/* ana alan */
.container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
}

/* başlık */
h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

/* butonlar */
button {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background: red;
  color: white;
}



